################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webapptest/obj
/.vs/webapptest/v16/Server/sqlite3
/webapptest/bin/Debug/netcoreapp2.2
/.vs/webapptest
