@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Tuan Anh Nguyen</a>.</p>
    <h1>okokkok 1111</h1>
</div>
